.character{
    flex: 0 1 40%;
    display: flex;
    border-radius: 15px;
    background-color: dimgray;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.character img{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.character div{
    padding: 10px;
}

.character span{
    color: silver;
}

.character p {
    color: white;
}