.wrapSingleItem h2{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0;
}

.wrapSingleItem img{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.singleItem{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.82);
    padding: 60px;
    color: white;
    text-align: left;
}

.singleItem > div{
    font-size: 50px;
    padding: 0 30px;
    background-color: dimgray;
}

.singleItem span{
    color: silver;
}

.singleItem p{
    margin: 10px 0;
}