body, html{
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 30px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 22px;
}

a:hover{
    color: darkorange;
    transition: 0.3s;
}

button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
}

button:first-child{
    left: 0;
}

button:last-child{
    right: 0;
}

button i{
    color: darkorange;
    font-size: 35px;
}

.active{
    color: darkorange;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.header{
    padding: 10px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
}

.main{
    text-align: center;
}

.item{
    border-radius: 15px;
    padding: 10px;
    flex: 0 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}

.item span{
    color: white;
}

.item h2{
    text-align: center;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    font-size: 20px;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrap{
    background-color: rgba(0, 0, 0, 0.82);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px 0;
    text-align: left;
}