.header{
    display: flex;
    padding: 20px;
    column-gap: 20px;
    border-bottom: 1px solid cornflowerblue;
    text-transform: uppercase;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #f6aa12;
    transition: 0.3s;
}

.active{
    font-weight: bold;
    color: #f6aa12;
}

button{
    cursor: pointer;
}

.main{
    padding: 10px;
    display: flex;
    column-gap: 10px;
}