.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form button{
    width: 100px;
    align-self: center;
}

hr{
    width: 100%;
}

.form span{
    color: red;
}

.form label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form div{
    display: flex;
    justify-content: end;
}

.formWrap{
    display: flex;
    justify-content: space-around;
}