.App{
    display: flex;
    flex-wrap: wrap;
}

.Users-list, .Posts-list{
    flex: 0 1 50%;
}

.Users-list, .Posts-list, .Comments-list{
    display: flex;
    flex-wrap: wrap;
    max-height: 600px;
    overflow-y: scroll;
}

.Posts-list{
    background-color: cornflowerblue;
}

.Users-list{
    background-color: darkkhaki;
}

.Comments-list{
    flex: 1 1 auto;
    background-color: cornsilk;
}

.Item{
    flex: 1 1 25%;
    border: 1px solid black;
    padding: 10px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
